.membership-page {
  .orgMemberCards {
    display: flex;
    gap: 23px;
    width: 85%;
    margin: auto;
    padding-bottom: 100px;
    overflow-x: scroll;
  }
  .orgMemberCard {
    width: 383px;
    height: 610px;
    background: #ffffff;
    border: 1px solid #7695ad;
    box-shadow: 13px 18px 28px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: left;
    .flag {
      object-fit: cover;
      width: 382px;
      height: 247px;
      border-radius: 20px 20px 0px 0px;
    }
    .content {
      width: 90%;
      margin: auto;
      .country {
        font-family: "Poppins regular";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        // line-height: 27px;
        /* identical to box height */

        /* #3A3A3D */

        color: #3a3a3d;
        margin-top: 25px;
        margin-bottom: 9px;
      }

      .orgName {
        font-family: "Poppins bold";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        // line-height: 27px;

        /* dark */

        color: #1d015c;
        margin-bottom: 9px;
      }

      .descCard {
        font-family: "Poppins regular";
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        // line-height: 20px;
        /* identical to box height */

        color: #6c6c6c;
        margin-bottom: 8.5px;
      }
    }
  }

  .header-title {
    font-family: LEMON MILK regular;
    font-size: 50px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    padding-top: 75px;
  }
  .overlay {
    background: #03070f;
    background: radial-gradient(
      at top left,
      rgba(24, 132, 216, 0.8) 0%,
      rgba(29, 1, 92, 0.8) 70%
    );
    // width: 100vw;
    height: 286px;
  }

  .hero {
    background-image: url("../../Assets/Membership/hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .categories {
    background-color: #1d015c;
    padding-bottom: 80px;

    .section-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #290973;
      border-radius: 20px;

      width: 557px;
      height: 350px;
      padding-top: 27px;
    }

    ul {
      font-family: "Poppins regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      /* #C6C6C6 */

      color: #c6c6c6;
      text-align: left;
    }
  }

  .orgMember {
    background: #f5f5f5;
    padding-bottom: 90px;
  }

  .title-2nd {
    font-family: LEMON MILK regular;
    font-size: 35px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    color: #1d015c;
  }

  .btn {
    padding: 7px 25px;
    width: 350px;
    height: 46px;

    background: #1d015c;
    border-radius: 100px;

    font-family: "Poppins regular";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
  }

  .desc {
    font-family: "Poppins regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    /* page color */

    color: #3a3a3d;
  }
  .hdr {
    font-family: "Poppins bold";
    text-decoration: underline;
  }

  ul {
    margin: 0;
  }
  ul.dashed {
    list-style-type: none;
  }
  ul.dashed > li {
    text-indent: -5px;
  }
  ul.dashed > li:before {
    content: "- ";
    text-indent: -5px;
  }

  @media only screen and (max-width: 900px) {
    .orgMember {
      .title-2nd {
        width: 80% !important;
      }
    }
  }

  .personalMember {
    padding-bottom: 90px;
    .btn {
      padding: 7px 25px;
      gap: 10px;

      width: 350px;
      height: 46px;

      /* #1D015C */

      background: #3e1893;
      border-radius: 100px;
      color: white;
    }

    .desc {
      color: #3a3a3d;
    }
  }
}
