.training-page {
  .css-1e2bxag-MuiDataGrid-root .MuiDataGrid-iconSeparator {
    display: none;
  }
  .MuiDataGrid-iconSeparator {
    display: none;
    color: transparent;
  }
  .MuiDataGrid-columnHeaders {
    // border: 1px solid red;
    background-color: #0d7b7d;
    border: none;

    font-family: "Poppins regular";
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  padding-top: 50px;
  @media only screen and (max-width: 900px) {
    .logo {
      width: 80%;
    }

    .trainerApp {
      #action1 {
        margin-right: 0px !important;
      }
      #action2 {
        margin-left: 0px !important;
        margin-top: 40px;
      }
    }

    .box-table {
      width: 80%;
    }
  }

  .description {
    // border: 2px solid red;
    margin-top: 60px;
    width: 70%;
    margin: 20px auto 40px auto;

    font-family: Poppins regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  .subtitle {
    font-family: LEMON MILK regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #0d7b7d;

    margin-top: 15px;
  }

  .title {
    font-family: LEMON MILK regular;
    font-size: 50px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    color: #0d7b7d;
  }

  .trainerApp {
    margin-top: 140px;
    padding-top: 60px;
    padding-bottom: 85px;
    background-color: #0d7b7d;

    .apply {
      font-family: Poppins regular;
      font-size: 25px;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: center;
      color: white;
    }

    .btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 7px 35px;
      gap: 10px;
      background: #f5f5f5;
      border-radius: 20px;
      font-family: "Poppins regular";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: center;

      color: #0d7b7d;
    }
    .action {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .trainerIndex {
    .headerRow {
      background-color: #0d7b7d;
      border-radius: 20px 20px 0px 0px;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
    }

    .header {
      font-family: Poppins regular;
      font-size: 25px;
      font-weight: 700;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: center;
      color: white;
    }

    .item {
      font-family: Poppins regular;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: center;
      color: #3a3a3d;
    }
    .roww {
      border-bottom: 2px solid rgba(13, 123, 125, 0.5);
    }
  }
}
