.workforce {
  background-color: #f5f5f5;
  padding-bottom: 50px;
  padding-top: 50px;

  @media only screen and (max-width: 900px) {
    .delegatee {
      border: none !important;
    }
    // .workforce {
    //   padding-right: 0px !important;
    // }
  }
  .delegatee {
    border-right: 1px solid #1d015c;
  }
  p {
    font-family: Poppins regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  Button {
    border-radius: 20px;
  }
  .editWorkforce {
    margin-top: 20px;
  }
  .WF_memberList {
    justify-content: left;
    // display: grid;
    // grid-template-rows: auto;

    .name {
      font-family: Poppins bold;
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
    }
    .role {
      font-family: Poppins bold;
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      text-decoration: underline;
    }

    .country {
      font-family: Poppins regular;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
