.homePage {
  .vlogo {
    width: 158px;
  }

  padding: 0 !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.congTitles1 {
  font-family: LEMON MILK regular;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
}

.congTitles2 {
  font-family: Brittany;
  text-align: center;
  margin-top: -50px;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  color: #01838c;
}

.title-txt {
  font-family: "Poppins regular";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #fff;
}

.home-main {
  display: flex;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(27, 80, 166, 1) 0%,
    rgba(24, 98, 184, 1) 20%,
    rgba(71, 38, 134, 1) 80%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .titles {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: left;

    .homeOverlay {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-left: 5vw;
    }

    .carousel {
      z-index: -1;
      opacity: 7%;
      height: 780px;
    }

    h1 {
      font-family: "LEMON MILK regular";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 54px;

      color: #f5f5f5;
    }

    .homeOverlayCTAS {
      display: flex;
      gap: 9px;
      .CTA1 {
        background: #55c9f3;
        border-radius: 100px;
        width: 93px;
        height: 34px;
        text-decoration: none;

        text-align: center;
        color: #1d015c;
        font-weight: 500;
        font-size: 12px;
        padding-top: 7px;
        padding-bottom: 7px;
      }

      .CTA2 {
        border: 1px solid #55c9f3;
        border-radius: 100px;
        width: 93px;

        text-align: center;
        color: #55c9f3;
        font-weight: 500;
        font-size: 12px;
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }

    display: flex;
    font-family: "POPPINS regular";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    flex-direction: column;

    justify-content: center;
    margin: 0 auto;
    //    background: linear-gradient(215.13deg, rgba(24, 132, 216, 0.9) -1.35%, rgba(29, 1, 92, 0.9) 39.53%);

    // transform: matrix(-1, 0, 0, 1, 0, 0);
    // -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    // margin-left: -15px;
    // padding-bottom: 150px;
  }

  .logo {
    display: flex;
    width: 33.5%;
    background-color: white;
    justify-content: center;
    position: absolute;
    height: 100%;
    margin-right: auto;
    right: 0;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  }

  .btn {
    border-radius: 10px !important ;
    margin-right: 10px;
  }
}

.congress {
  background-image: url("../../Assets/Home/Congress_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  min-height: 840px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;

  .congLogo {
    max-width: 400px;
    margin-top: auto;
    margin-right: auto;
  }

  .congText {
    max-width: 450px;
    height: fit-content;
    color: white;
    display: flex;
    flex-direction: column;
    // margin-left: auto;
    margin-right: auto;
    // position: absolute;
    text-align: left;
    gap: 33px;

    .congTitles {
      .congTitles1 {
        font-family: LEMON MILK regular;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
      }

      .congTitles2 {
        font-family: Brittany;
        text-align: center;
        margin-top: -50px;
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        color: #01838c;
      }
    }

    .congTextBody {
      font-family: Poppins regular;
      font-weight: 400;
      font-size: 15px;
    }

    .congCTA {
      background: #fdbe3d;
      border-radius: 100px;
      padding: 7px 25px;
      text-align: center;
      width: 120px;

      color: #1d015c;
      font-weight: 500;
      font-size: 12px;

      font-family: Poppins regular;
      text-decoration: none;
    }
  }
}

// .homePageTitles1 {
.homePageTitles11 {
  font-family: LEMON MILK regular;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  background: linear-gradient(
    215.13deg,
    rgba(24, 132, 216, 0.9) -1.35%,
    rgba(29, 1, 92, 0.9) 39.53%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.homePageTitles12 {
  font-family: "Brittany";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 81px;
  text-align: center;
  margin-top: -50px;
  color: #1884d8;
}
// }

.homePageTitles2 {
  .homePageTitles21 {
    font-family: "Brittany";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 81px;
    text-align: center;
    color: #1884d8;
  }

  .homePageTitles22 {
    margin-top: -50px;

    font-family: LEMON MILK regular;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    background: linear-gradient(
      215.13deg,
      rgba(24, 132, 216, 0.9) -1.35%,
      rgba(29, 1, 92, 0.9) 39.53%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .homePageTitles23 {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #3a3a3d;

    font-family: Poppins regular;
    margin-top: 20px;
  }
}

.discoverMoreCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 340px;
  // border: 1px solid grey;
  // box-shadow: 5px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  // border-radius: 20px;
  gap: 20px;

  img {
    height: 55px;
  }
  .discoverMoreCardTitle {
    font-family: POPPINS regular;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #3a3a3d;
  }
  .discoverMoreCardTitle:hover {
    cursor: pointer;
  }

  .discoverMoreCardBody {
    font-family: POPPINS regular;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #3a3a3d;
    text-decoration: none;
  }
  .discoverMoreCardBody:hover {
    cursor: pointer;
  }

  .discoverMoreCardCTA {
    font-family: POPPINS regular;
    border-radius: 100px;
    text-align: center;
    width: 119px;
    padding-block: 7px;
    font-weight: 500;
    font-size: 12px;
    margin-top: auto;
    position: absolute;
    bottom: 10px;
  }
}

.calendar {
  overflow-x: scroll;
  margin-bottom: 60px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  .phone {
    display: none;
  }
  .congTitles1 {
    margin-top: -25px;
    margin-left: -1725px;
    font-family: LEMON MILK regular;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
  }
  .homePageTitles12 {
    padding-top: 350px;
    margin-left: -1800px;
    font-family: "Brittany";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 81px;
    text-align: center;
    margin-top: -50px;
    color: #1884d8;
  }

  .desc {
    text-align: left;
    margin-left: -975px;
    // width: 70%;
    font-family: "Poppins regular";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    color: #c6c6c6;
  }

  .titles {
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    background: linear-gradient(225.89deg, #1884d8 -13.71%, #1d015c 56.19%);
    display: flex;
    // flex-direction: row;
  }
  .googleCal {
    margin-left: -600px;
    border: 60px solid #e3e3e3;
  }
  iframe {
    filter: opacity(90%);
  }
  // .calOverlay {
  //   margin-left: -200px;
  // }
}

.discoverMore {
  margin-bottom: 60px;
  .swiper {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-container {
    padding-left: 50px;
    border: 1px solid red;
    // padding-right: 50px;
  }

  .swiper-wrapper {
  }
}

.iadsLatest {
  .swiper {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper * {
    margin-left: auto;
    margin-right: auto;
  }
}

.ourComp {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  .sponsers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-bottom: 120px;
  }

  .ourCompInner {
    display: flex;
    justify-content: space-between;

    .line2 {
      height: 350px;
      width: 1px;
      margin: auto;
      background-color: #acacac;
      margin-bottom: 30px;
    }

    .ourCompInner1 {
      width: 47%;

      .ourCompInnerTitle {
        color: #1d015c;
        font-weight: 500;
        font-size: 20px;
        font-family: POPPINS regular;
        text-transform: uppercase;
      }

      .line1 {
        height: 5px;
        width: 172px;
        border-radius: 5px;
        margin-inline: auto;
        background-color: #1d015c;
        margin-bottom: 30px;
      }

      .ourCompInnerInner {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        .ourCompInnerInner1 {
          text-align: left;

          .ourCompInnerInner1Title {
            font-family: POPPINS regular;
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            color: #3a3a3d;
          }

          .ourCompInnerInner1body {
            font-family: POPPINS regular;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            color: #3a3a3d;
          }
        }
      }
    }
  }
}

.home-txt {
  font-family: Poppins regular;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;

  width: 40%;

  display: flex;
  align-items: center;
  text-align: justify;

  color: #ffffff;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (min-width: 1200px) {
  .homePage {
    margin-top: -100px;
  }
}

@media (max-width: 1500px) {
  .home-main {
    .logo {
      width: 37%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .homePage {
    .home-txt {
      width: 100%;
    }
    h1 {
      font-size: 30px !important;
    }
  }
}
@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 767px) {
  .calendar {
    .congTitles1 {
      margin-left: -1825px;
    }
    .homePageTitles12 {
      margin-left: -1900px;
    }

    .desc {
      margin-left: -1040px;
    }
    .phone {
      display: block;
      margin-top: 30px;
      font-family: "Poppins bold";
      color: #55c9f3;
    }
  }
  .congress {
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    min-height: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 24px;

    .congLogo {
      max-width: 300px;
      margin-top: auto;
      margin-right: auto;
      margin-left: auto;
    }

    .congText {
      max-width: 450px;
      flex-direction: column;
      margin: auto;
      text-align: center;
      gap: 15px;

      .congTitles {
        .congTitles1 {
          font-family: LEMON MILK regular;
          font-style: normal;
          font-weight: 400;
          font-size: 50px;
        }

        .congTitles2 {
          font-family: Brittany;
          text-align: center;
          margin-top: -50px;
          font-style: normal;
          font-weight: 400;
          font-size: 60px;
          color: #01838c;
        }
      }

      .congCTA {
        background: #fdbe3d;
        border-radius: 100px;
        padding: 7px 25px;
        text-align: center;
        width: 120px;
        margin: auto;

        color: #1d015c;
        font-weight: 500;
        font-size: 12px;

        font-family: Poppins regular;
        text-decoration: none;
      }
    }
  }

  .ourComp {
    margin-top: 120px;
    gap: 60px;

    .ourCompInner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .line2 {
        display: none;
      }

      .ourCompInner1 {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 867px) {
  .home-main {
    display: flex;
    position: relative;
    background: linear-gradient(
      90deg,
      rgba(27, 80, 166, 1) 0%,
      rgba(24, 98, 184, 1) 20%,
      rgba(71, 38, 134, 1) 80%
    );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    .titles {
      width: 100%;
      // border: 2px solid red;
      margin-top: -100px;
      padding-bottom: -300px;
      // line-height: 45px;
      // font-weight: 50px;
      .homeOverlay {
        gap: 15px;
        padding-left: 5vw;
        padding-right: 5vw;
        .negative-margin {
          margin-top: -50px;
          text-align: center;
        }
      }

      .carousel {
        z-index: -1;
        opacity: 7%;
        height: 85vh;
      }

      h1 {
        // padding-left: 150px;
        font-family: "LEMON MILK regular";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 54px;

        color: #f5f5f5;
      }
      p {
        // padding-left: 150px;
      }

      display: flex;
      font-family: "POPPINS regular";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      flex-direction: column;

      justify-content: center;
      margin: 0 auto;
      //    background: linear-gradient(215.13deg, rgba(24, 132, 216, 0.9) -1.35%, rgba(29, 1, 92, 0.9) 39.53%);

      // transform: matrix(-1, 0, 0, 1, 0, 0);
      // -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
      // margin-left: -15px;
      // padding-bottom: 150px;
    }

    .logo {
      display: none;
    }

    .btn {
      border-radius: 10px !important ;
      margin-right: 10px;
    }
  }
}
