.card {
  //   justify-content: left;
  width: 380px !important;
  height: 510px !important;
  border-radius: 20px !important;
  border: 1px solid #7695ad !important;

  margin-right: 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  position: relative;

  .card-img {
    border-radius: 20px 20px 0 0;
  }

  .card-title {
    color: #c60e3c;
    font-family: "POPPINS bold";
  }

  .card-text {
    color: #6c6c6c;
  }

  .card-button {
    color: #c60e3c;
    background: none;
    border: none;
    position: absolute;
    bottom: 20px;
    // display: flex;
    justify-self: flex-end;
    // margin-top: auto;
    // margin-bottom: 20px;
    // align-self: right;
  }
}
