@media only screen and (max-width: 900px) {
  #card {
    width: 280px !important;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.card {
  //   justify-content: left;
  // width: 0px !important;
  width: 380px !important;
  height: 510px !important;
  border-radius: 20px !important;
  border: 1px solid #7695ad !important;

  margin-right: 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: left;
  position: relative;

  .card-img {
    border-radius: 20px 20px 0 0;
  }

  .card-title {
    // color: #00467c;
    font-family: "POPPINS bold";
  }

  .card-text {
    color: #6c6c6c;
  }

  .card-button {
    color: #00467c;
    background: none;
    border: none;
    // position: absolute;
    // bottom: 10px;
    // right: 20px;
    // display: flex;
    justify-self: flex-end;
    // margin-top: auto;
    // margin-bottom: 20px;
    // align-self: right;
    border: none !important;
  }

  .card-button:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .card-button:hover {
    // display: none;
    background-color: transparent;
    color: black;
  }

  .apply-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 35px;
    gap: 10px;

    width: 122px;
    height: 34px;

    background: #0d7b7d;
    border-radius: 20px;
    font-family: "Poppins medium";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    display: inline;
    align-items: center;
    text-align: center;

    border: none;
    color: #ffffff;
  }
}
