.workforce {
  background-color: #f5f5f5;
  padding-top: 40px;
  padding-bottom: 20px;
  .members {
    width: 100%;
    .role {
      font-size: 20px;
      text-align: left;
    }
    .name {
      font-size: 20px;
      text-align: left;
    }
    .country {
      text-align: left;
    }
  }
}

.prophylaxis-page {
  padding-top: 70px;

  .title-1st {
    font-family: Brittany;
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: -20px;
    color: #1d015c;
  }
  .projectsCards {
    display: flex;
    padding-bottom: 80px;
    gap: 15px;
    justify-content: space-between;
    //   flex-wrap: wrap;
    .projectCard {
      width: 390px;
      height: 230px;
      background-color: #e8e2f4;
      border-radius: 30px;
      padding: 37px 37px 37px 37px;
      position: relative;

      .title {
        font-size: 17px;
        line-height: 24px;
        text-align: left;
      }
      .description {
        font-family: Poppins regular;
        font-size: 11px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0px;
        margin-top: 15px;
        width: 100%;
      }
      .btn {
        background-color: #00467c;
        margin-top: 20px;
        border-radius: 100px;
        position: absolute;
        bottom: 30px;
        border: none;

        //   bottom: 20px;
      }
    }
  }
  @media only screen and (max-width: 900px) {
    .logo {
      width: 80%;
    }
    .projectsCards {
      flex-direction: column;
      // justify-content: center;
      align-items: center;
    }
  }

  .description {
    margin-top: 60px;
    width: 70%;
    margin: 60px auto 40px auto;

    font-family: Poppins regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  .subtitle {
    font-family: LEMON MILK regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #6d3590;

    margin-top: 15px;
  }

  .title {
    font-family: LEMON MILK regular;
    font-size: 50px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    color: #6d3590;
  }
  .toolkits {
    // background-color: #f5f5f5;
    padding-top: 70px;
    padding-bottom: 150px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
