.navbar {
  z-index: 100;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0;
}

.navbarWithBg {
  background: linear-gradient(
    90deg,
    rgba(27, 80, 166, 1) 0%,
    rgba(24, 98, 184, 1) 25%,
    rgba(71, 38, 134, 1) 75%
  );

  .nav-item {
    color: white !important;
  }

  #navbarScrollingDropdown {
    color: white;
  }
  #navbarScrollingDropdownWhite {
    color: white;
  }

  .login-btn {
  
    border: 1px solid #55c9f3;

    p {
      color: #55c9f3;
    }
  }

  .signup-btn {
    background-color: #55c9f3;
    color: #1d015c;
  }
}

.navbarWithOutBg {
  .nav-item-Blue {
    color: #3e1893 !important;
  }
  .nav-item-White {
    color: white !important;
  }

  #navbarScrollingDropdown {
    color: #3e1893;
  }
  #navbarScrollingDropdownWhite {
    color: white;
  }

  .login-btn {
    border: 1px solid #3e1893;

    p {
    }
  }

  .signup-btn {
    background-color: #3e1893;
    color: white;
  }
}

.iads-logo {
  height: 60px;
}

.nav-items {
  width: 75%;
  margin: auto;
  font-family: "Poppins";
  font-style: normal;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-self: flex-start;
}

.nav-item {
  padding: 0;
  font-family: POPPINS regular;
  font-weight: 700;
  font-size: 12px;
}

.auth {
  gap: 8px;
}

.signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93px;
  height: 32px;
  border-radius: 100px;
  margin-block: auto;
  font-family: POPPINS regular;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;

}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 93px;
  height: 32px;
  flex-direction: row;
  cursor: pointer;
  border-radius: 100px;
  margin-block: auto;

  p {
    margin: 0;
    font-family: POPPINS regular;
    font-weight: 700;
    font-size: 12px;
  }
}

@media only screen and (max-width: 1199px) {
  .navbar {
    background: #1d015c;
  }

  .navbarWithOutBg {
    .nav-item-Blue {
      color: white !important;
    }
    .nav-item-White {
      color: white !important;
    }

    #navbarScrollingDropdown {
      color: white;
    }
    #navbarScrollingDropdownWhite {
      color: white;
    }

    .login-btn {
      border: 1px solid #55c9f3;

      p {
        color: #55c9f3;
      }
    }

    .signup-btn {
      background-color: #55c9f3;
      color: #1d015c;
    }
  }

  .nav-items {
    justify-content: center;
    padding-bottom: 50px !important;
  }
  .iads-logo {
    height: 20px;
    margin-left: 0px !important;
  }

  .navbar-collapse {
    // display: flex;
    flex-direction: column;
    padding-bottom: 50px !important;

    // margin-bottom: 50px !important;
  }

  .auth {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .dropdown-menu {
    background-color: transparent !important;
    border: none !important;

    .dropdown-item {
      color: white;
    }

    .dropdown-item:active,
    .dropdown-item:hover {
      background-color: transparent;
    }
  }
}
