.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  // #submit-btn {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 7px 25px;
  //   gap: 10px;

  //   width: 308px;
  //   height: 35px;

  //   /* #55C9F3 */

  //   background: #55c9f3;
  //   border-radius: 100px;
  // }
}

.loginModal {
  // width: 925px;
  // height: 588px;
}
