.webinars-page {
  .hero {
    background-image: url("../../../Assets/Committees/Workforce/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .overlay {
    background: #03070f;
    background: radial-gradient(
      at top left,
      rgba(24, 132, 216, 0.8) 0%,
      rgba(29, 1, 92, 0.8) 70%
    );
    width: 100vw;
    height: 286px;
  }

  .header-title {
    font-family: LEMON MILK regular;
    font-size: 50px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    padding-top: 75px;
  }

  .desc {
    font-family: Poppins regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #3a3a3d;
  }

  .desc-hiring {
    font-family: "Poppins light";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    /* page color */

    color: #f5f5f5;
    text-align: left;
  }
}
