.regs2 {
  overflow: hidden;
  margin-top: 75px;
  .col {
    display: flex;
    flex-direction: column;

    // border: solid red 1px;
  }

  label {
    align-self: flex-start;
    margin-left: 1px;
  }

  .pTitle {
    text-align: left;
  }

  .check {
    display: flex;
    // flex-direction: column;
  }
}
