.webinar-card {
  width: 289px !important;
  height: 192px !important;

  .delete-button {
    align-self: flex-end !important;
    z-index: 1000;
    color: #00467c;
    background: none;
    border: none;
    justify-self: flex-end;
    border: none !important;
  }
  .delete-button:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .delete-button:hover {
    // display: none;
    background-color: transparent;
    color: black;
  }
  .card {
    position: relative;
    border-radius: 0;
    border: none !important;
    overflow: hidden;
    width: 100%;
    height: 100%;
    width: 289px !important;
    height: 192px !important;

    .card-img {
      height: 100%;
      object-fit: cover;
    }

    .card-overlay {
      position: absolute;
      border: none !important;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(74, 38, 154, 0) 0%,
        #3e1893 100%
      );
    }

    .card-body {
      margin-top: -192px !important;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .card-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 8px;
        z-index: 1000;
      }

      .card-title {
        color: #fff;
        font-family: "Poppins bold";
        font-size: 13px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        margin-bottom: 0px !important;
      }

      .card-date {
        color: #fff;
        font-family: "Poppins regular";
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      a {
        align-self: flex-end;
        z-index: 1000;
      }
      .register-button {
        display: flex;
        width: 83px;
        height: 29px;
        padding: 7px 35px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 20px;
        background: #009fea;
        align-self: flex-end;
      }
    }
  }
}
